<% provide(:title, "About") %>


<div class="center jumbotron">
  <h3>A website built from Ruby on Rails.</h3>

  <h2>
    Visit 
    <a href="http://www.theodinproject.com/">TheOdinProject</a>
    for more information.
  </h2>
</div>