<footer class="footer">
  <small>
    Website built by Michael Ha.
  </small>
  <nav>
    <ul>
      <li><%= link_to "What's new?", about_path %></li>
      <li><a href="http://www.theodinproject.com/">TheOdinProject</a></li>
    </ul>
  </nav>
</footer>